<div id="image_gallery">
	
	<div class="img-wrap">
  
  <a href="../images/01.gif"> <img src="../images/01.gif" id="img1"> </a>
  
	<a href="../images/02.gif"> <img src="../images/02.gif" id="img2"> </a>
	  
  <a href="../images/03.gif"> <img src="../images/03.gif" id="img3"> </a>
	
	<a href="../images/04.gif"> <img src="../images/04.gif" id="img4"> </a>
  
  <a href="../images/05.gif"> <img src="../images/05.gif" id="img5"> </a>
  
  <a href="../images/06.gif">	<img src="../images/06.gif" id="img6"> </a>

  <a href="../images/07.gif">	<img src="../images/07.gif" id="img7"> </a>

  <a href="../images/08.gif">	<img src="../images/08.gif" id="img8"> </a>

  <a href="../images/01.gif"> <img src="../images/01.gif" id="img9"> </a>

  <a href="../images/02.gif"> <img src="../images/02.gif" id="img10"> </a>

  </div>

</div>

<!-- Add lightbox JS? -->
