<div class="wrapper">
  <div class="box">
	  <h4>July 1</h4>
	  <h3>TV Girl, George Clinton</h3>
	  <p>8:00 pm, 21+, $10a/$12d</p>
  </div>
  <div class="box"> July 2</div>
  <div class="box">
  	<h4>July 3</h4>
  	<h3>The Dirty Chakras, Deathtape, Harris Mac</h3>
  	<p>8:00 pm, 21+, $8</p>
  </div>
  <div class="box">
  	<h4>July 4</h4>
  	<h3>Beachcraft Bonanza, Callowhill</h3>
  	<p>7:30 pm, all ages, $5</p>
	</div>

  <div class="box">5</div>
  <div class="box">6</div>
  <div class="box">7</div>
  <div class="box">
  	<h4>July 8</h4>
  	<h3>MDC, All Torn Up</h3>
  	<p>8:00 pm, 21+, $5</p>
  </div>
  <div class="box">9</div>
  <div class="box">10</div>
  <div class="box">11</div>
  <div class="box">12</div>
</div>