body {
	position:fixed;
	background-image: url("../images/overlook.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}

#header{
	width: 100%;
	height:50px;
	background-color: black;
	margin-left: 50%;


}


#body{
	width: 100%;
	min-height: 500px;

}

#footer{
	width: 100%;
	height: 50px;
	background-color: black;
	position: fixed;
	float: right;

}

	#nav a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;	
    text-decoration: none;
    display: inline-block;
    font-family: helvetica;
    margin: 0 auto;
}


	#nav a:hover, a:active {
    background-color: red;
}
