* {
	margin: 0 auto;
	padding: 0 auto;
}

body {
	/*position: fixed;*/
	background-image: url("../images/overlook.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}

.wrapper {
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
}

#header {
	width: 100%;
	background-color: black;
	/*margin-left: 10px;*/
	/*margin-right: 10px;*/
	font-family: "Iowan Old Style", serif;
	font-size: 50px;
	letter-spacing: 10px;
	color: white;
	border: 5px solid white;
	text-align: center;
	padding-bottom: 20px;
	/*display: block;*/
}

#subhead {
	font-family: "Iowan Old Style", serif;
	font-size: 20px;
	line-height: 0px
}

#nav-wrapper {
	width: 39%;
	height: 55px;
	margin-left: 31%;
	margin-right: 30%;
	/*position: fixed;*/
	/*background-color: white;*/
}

#nav a:link, a:visited {
  background-color: #E6D779;
  /*color: white;*/
  padding: 14px 25px;
  text-align: center;	
  text-decoration: none;
  display: inline-block;
  font-family: "Iowan Old Style", serif;
  font-size: 15px;
  letter-spacing: 3px;
  /*margin: 0 auto;*/
}

#nav a:hover, a:active {
  background-color: #FEF897;
}

#article {
	width: 100%;
	min-height: 365px;
}

#footer {
	width: 97%;
	height: 50px;
	background-color: black;
	color: white;
	border: 3px solid white;
	position: fixed;
	/*float: right;*/
}

#copyright {
	font-family: "Iowan Old Style", serif;
	float: left;
	display: inline;
	margin-left: 8px;
	margin-top: 3px;
}

#mailing-list {
	font-family: "Iowan Old Style", serif;
	float: right;
	display: inline;
	margin-right: 8px;
	margin-top: 3px;
}

img {
  margin-left: 2px;
  margin-right: 20px;
  margin-top: 20px;
  /*padding-right: 10px;*/
  float: left;
  width: 200px;
  display: inline;
  box-shadow: 5px 5px 5px #E6D779;
}

.img {
	margin-left: 3%;
	margin-right: 3%;
}

#modal {
	font-family: "Iowan Old Style", serif;
	font-size: 12px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  margin-top: 20%;
  /*margin-bottom: 20px;*/
  width: 900px;
  /*height: 620px;*/
  background-color: #e6d779 ;
  text-align: center;
  opacity: 0.3;
}

#about-header {
	font-size: 30px;
}

.box {
  background-color: #E6D779;
  color: #FEF897;
  border-radius: 5px;
  padding: 5px;
  font-size: 100%;
  font-family: "Iowan Old Style", serif;
  margin-left: 10%;
}

.box:nth-child(even) {
  background-color: #FEF897;
  color: #E6D779;
  margin-left: 10%;
}

.wrapper-calendar {
  width: 800px;
  display: grid;
  grid-template-columns: repeat(6, 100px);
}

#image-gallery {
	margin-left: 20px;
	margin-right: 20px;
}

#email_thanks {
	font-family: "Iowan Old Style", serif;
	font-size: 40px;
	text-align: center;
}