body {
	background-color: gold;
}

#header{
	width: 1000px;
	height:50px;
	background-color: black;
}

#nav{
	width: 1000px;
	height: 25px;
	background-color: grey;

}

#body{
	width: 1000px;
	min-height: 500px;

}

#footer{
	width: 1000px;
	height: 50px;
	background-color: 25px;

}