* {
	margin: 0 auto;
	padding: 0 auto;
}

body {
	/*position: fixed;*/
	background-image: url("overlook.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}

.wrapper {
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
}

#header {
	width: 100%;
	background-color: black;
	/*margin-left: 10px;*/
	/*margin-right: 10px;*/
	font-family: "Iowan Old Style", serif;
	font-size: 50px;
	letter-spacing: 10px;
	color: white;
	border: 5px solid white;
	text-align: center;
	padding-bottom: 20px;
	/*display: block;*/
}

#subhead {
	font-family: "Iowan Old Style", serif;
	font-size: 20px;
	line-height: 0px
}

#nav-wrapper {
	width: 100%;
	height: 55px;
	margin-left: 5px;
	margin-right: 5px;
	background-color: white;
}

#nav a:link, a:visited {
  background-color: #E6D779;
  /*color: white;*/
  padding: 14px 25px;
  text-align: center;	
  text-decoration: none;
  display: inline-block;
  font-family: "Iowan Old Style", serif;
  font-size: 15px;
  letter-spacing: 3px
  /*margin: 0 auto;*/
}

#nav a:hover, a:active {
  background-color: #FEF897;
}

#article {
	width: 100%;
	min-height: 365px;
}

#footer {
	width: 97%;
	height: 50px;
	background-color: black;
	color: white;
	border: 3px solid white;
	position: fixed;
	/*float: right;*/
}

#copyright {
	font-family: "Iowan Old Style", serif;
	float: left;
	display: inline;
	margin-left: 8px;
	margin-top: 3px;
}

#mailing-list {
	font-family: "Iowan Old Style", serif;
	float: right;
	display: inline;
	margin-right: 8px;
	margin-top: 3px;
}

img {
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 20px;
    float: left;
    width: 200px;
    display: inline;
}